.about {
    height: 730px;
    display: flex;
    flex-direction: column;
    background-color: #403F4C;
}

/* ABOUT PICTURE */

.about-pic {
    height: 200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

.about-pic-andy {
    margin: auto;
    /* background-color: red; */
    margin-bottom: 20px;
}

.about-pic-andy img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: #DADAD9;
    border-width: 3px;
    box-shadow: 0 0 7px #B76D68;
}

/* ABOUT ME CONTENT */

.about-content {
    margin: 50px 200px;
    margin-top: 10px;
    height: 100%;
    /* background-color: blue; */
}

.about-content h1 {
    color: #DADAD9;
    text-shadow: 0 0 5px #B76D68;
    font-size: 25px;
    margin-top: 40px;
}

.about-content p {
    color: #EDE6E3;
}

.about-me p {
    font-size: 17px;
    line-height: 30px;
}

.about-edu {
    margin-top: 30px;
}

.about-edu p {
    line-height: 10px;
}