.about {
    display: flex;
    flex-direction: column;
    background-color: #403F4C;
}

/* ABOUT PICTURE */

.about-pic {
    height: 200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

.about-pic-andy {
    margin: auto;
    /* background-color: red; */
    margin-bottom: 20px;
}

.about-pic-andy img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: #DADAD9;
    border-width: 3px;
    box-shadow: 0 0 7px #B76D68;
}

/* ABOUT ME CONTENT */

.about-content {
    margin: 50px 150px;
    margin-top: 10px;
    height: 100%;
    /* background-color: blue; */
}

.about-content h1 {
    color: #DADAD9;
    text-shadow: 0 0 5px #B76D68;
    font-size: 25px;
    margin-top: 40px;
}

.about-content p {
    color: #EDE6E3;
}

.about-me p {
    font-size: 17px;
    line-height: 30px;
}

.about-edu {
    margin-top: 30px;
}

.about-edu p {
    line-height: 10px;
}

/* TABLET AND IPAD MEDIA QUERY */
@media (min-width: 768px) and (max-width: 1024px) {
    .about-content {
        margin: 10px 50px;
        margin-bottom: 50px;
    }
}

/* LOW RES TABLET, MOBILES MEDIA QUERY */
@media (min-width: 481px) and (max-width: 767px){
    .about-content {
        margin: 10px 35px;
        margin-bottom: 50px;
    }

    .about-edu p {
        line-height: 18px;
    }
}

/* MOST SMARTPHONE MEDIA QUERY */
@media (min-width: 320px) and (max-width: 480px) {
    .about-content {
        margin: 10px 25px;
        margin-bottom: 50px;
    }

    .about-edu p {
        line-height: 22px;
    }
}

/* SMALLER DEVICES THAT MAY NOT 
EVEN EXIST MEDIA QUERY */
@media (min-width: 150px) and (max-width: 319px){
    .about-content {
        margin: 10px 10px;
        margin-bottom: 50px;
    }

    .about-edu p {
        line-height: 30px;
    }
}

