.footer {
    display: flex;
    background-color: #EDE6E3;
}

.footer-main-div {
    width: 100%;
    margin: 20px 70px;
    display: flex;
    /* background-color: red; */
}

.footer-content {
    margin: auto;
    width: 60%;
    font-size: 20px;
    color: #403F4C;
    display: flex;
    /* background-color: blue; */
}

.footer-num p{
    margin: 0;
}

.footer-icon-div {
    margin: auto;
}

.footer-icon-div i {
    margin: auto 5px;
}

.footer-icon-div i:first-child {
    margin-right: 10px;
}

.footer-circle {
    font-size: 10px;
    margin: auto;
    color: #595959;
}

.footer-icons {
    font-size: 40px;
}

.footer-num, .footer-email, 
.footer-circle, .footer-icons {
    display: inline-block;
    margin: auto;
    /* background-color: yellow; */
}

/* icon pseudoclasses */
.footer-icons a:link, .footer-icons a:visited,
.footer-icons a:active {
    color: #403F4C;
}

.footer-icons a:hover {
    color: #FF715B;
}

@media (max-width: 1000px){
    .footer-content {
        flex-direction: column;
    }

    .footer-circle {
        display: none;
    }
}
