.projects {
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: #B76D68;
}

.projects-div-title {
    font-size: 50px;
    color: #EDE6E3;
    text-align: center;
    /* main top, left, right margin */
    margin-top: 50px; 
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 0;
    /* background-color: blue; */
}

.projects-div {
    margin: 0 70px;
    /* main bottom margin */
    margin-bottom: 50px;;
    height: 100%;
    display: flex;
    /* background-color: red */
}

.projects-div-content {
    margin: auto;
    font-size: 30px;
    /* background-color: yellow; */
}

.projects-div-content h3 {
    color: #403F4C;
}

