/* ------------------------ SKILLS ------------------------ */

.skills {
    height: 70%;
    background-image: linear-gradient(
        to bottom, #EDE6E3,#DADAD9);
    display: flex
}

.skills-main-container {
    width: 100%;
    margin: 50px 70px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.skills-title{
    width: 100%;
    display: flex;
    color: #403F4C;
    /* background-color: yellow; */
}

.skills-title h1 {
    margin: auto;
    font-size: 50px;
}

.skills-icon-container, .skills-icon-container2 {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    margin-top: 30px;
    /* background-color: green; */
}

.skills-icon-container2 {
    margin-top: 0;
}

.skills-icon, .skills-icon2 {
    margin: auto;
    display: flex;
    padding: 0 20px;
    background-color: #403F4C;
    border-style: solid;
    border-color: #FF715B;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px #403F4C;
    /* background-color: blue; */
}

.skills-icon i, .skills-icon2 i {
    font-size: 70px;
    margin: auto;
    margin-left: 20px;
    /* background-color: yellow; */
}

.skills-icon h4, .skills-icon2 h4 {
    font-size: 25px;
    color: #DADAD9;
    /* background-color: purple; */
}

/* colors */
#html {color: #E44D26;}
#css {color: #2062AF;}
#js {color: rgb(185, 169, 61);}
#xd {color: #ED1C24;}
#db {color: #F8981D;}
#php {color: #617CBE;}
#java {color: #5283A2;}
