/* ------------------------ SKILLS ------------------------ */

.skills {
    background-image: linear-gradient(
        to bottom, #EDE6E3,#DADAD9);
    display: flex;
}

.skills-main-container {
    margin: 50px 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.skills-title {
    margin: 0 auto;
    width: 100%;
    display: flex;
    /* background-color: yellow; */
}

.skills-title h1 {
    font-size: 50px;
    margin: auto;
    color: #403F4C;
}

.skills-content-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    /* background-color: blue; */
}

.skills-content-icon {
    margin: 0 auto;
    width: 80%;
    /* background-color: green; */
}

.skills-icon {
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto;
    /* background-color: purple; */
}

.skills-icon:first-child {
    margin-top:0;
}

.icon {
    display: flex;
    margin: auto;
    padding: 15px 30px;
    margin-top: 15px;
    width: 200px;
    background-color: #403F4C;
    border-style: solid;
    border-color: #FF715B;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0 0 10px #403F4C;
    /* background-color: red; */
}

.icon:hover {
    background-color: #DADAD9;
    box-shadow: 0 0 40px 2px #595959 inset;
}

.icon h4 {
    font-size: 28px;
    margin: auto;
}

.icon i {
    font-size: 80px;
    margin: auto;
}

/* colors */
#html {color: #E44D26;}
#css {color: #2062AF;}
#js {color: rgb(185, 169, 61);}
#xd {color: #ED1C24;}
#db {color: #F8981D;}
#php {color: #617CBE;}
#java {color: #5283A2;}


@media (max-width: 816px){
    .skills-icon {
        margin-top: 0;
    }
    .icon:first-child {
        margin-top: 0;
    }
}