body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* JoseFin FONT */
.home li, .name, .skills {
    font-family: 'Josefin Sans', sans-serif;
}

/* Temporary */
section, footer{
    margin-bottom: 10px;
}

section {
    background-color: lightgray;
}


footer {
    background-color: black;
}


/* ------------------------ HOME ------------------------ */
.home {
    background-image: url("../images/blackbird.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-bottom-style: solid;
    border-bottom-color: #595959;
    border-bottom-width: 5px;
}

/* home,nav */
.nav-head {
    margin-right: 70px; /* Each side should be 70px margin */
    margin-left: 70px;
    padding-top: 30px;
    height: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.nav-head ul{
    list-style-type: none;
    padding: 0;
}

.home li{
    display: inline-block;
    font-size: 23px;
    color: #DADAD9;
    margin: 0 35px;
}

.home li:hover {
    color: #B76D68;
}

.home li:last-child {
    margin-right: 0;
}
/* nav anchor css */
.home a:link, .home a:visited, .home a:active{
    text-decoration: none;
    color: #DADAD9;
}

.home a:hover {
    text-decoration: none;
    color: #B76D68;
}

/* home, heading */
.name {
    margin: auto;
    width: 60%;
    top: 23%;
    position: relative;
    display: block;
    color: #EDE6E3;
    font-size: 30px;
    text-align: center;
}

.name h3 {
    line-height: 45px;
}

#andy {
    color: #B76D68;
}


/* ------------------------ SKILLS ------------------------ */

.skills {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(
        to bottom, #EDE6E3,#DADAD9);
}

.skills h1 {
    color: #403F4C;
    font-size: 50px;
    margin: 50px auto;
}
